<section class="choose-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6 pr-0">
                <div class="home-choose-img">
                    <img src="~/images/choose1.png" alt="choose" />
                </div>
            </div>

            <div class="col-lg-6 home-choose">
                <div class="home-choose-content">
                    <div class="section-tittle">
                        <h2>چرا مدرسه پایندگان را انتخاب کنید؟</h2>
                        <p>
                            تئوری انتخاب مدرسه فرض می کند که والدین بازیگرانی منطقی هستند که می توانند اطلاعات خود
                            را جمع آوری و مصرف کنند تا مدرسه ای پیدا کنند که نیازهای فرزندشان مطابقت داشته باشد.
                        </p>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-sm-12 col-md-5">
                            <ul class="choose-list-left">
                                <li><i class="flaticon-check-mark"></i>دارای 10 رتبه برتر مدرسه</li>
                                <li> <i class="flaticon-check-mark"></i>رفتار عالی</li>
                                <li><i class="flaticon-check-mark"></i>مفید و مهربانی</li>
                                <li><i class="flaticon-check-mark"></i>یادگیری با سرگرمی</li>
                                <li><i class="flaticon-check-mark"></i>ایمنی دانش آموز</li>
                            </ul>
                        </div>
                        <div class="col-lg-8 col-sm-12 col-md-7">
                            <div class="choose-list-home">
                                <ul>
                                    <li> <i class="flaticon-check-mark"></i>محیط زیست دوستانه</li>
                                    <li> <i class="flaticon-check-mark"></i>اساتید با تجربه</li>
                                    <li> <i class="flaticon-check-mark"></i>آموزش با متد جدید</li>
                                    <li><i class="flaticon-check-mark"></i>زمین بازی بزرگ </li>
                                    <li><i class="flaticon-check-mark"></i>سرویس متناسب با راننده با تجربه</li>
                                </ul>
                            </div>
                        </div>
                        <a href="" class="box-btn">بیشتر بدانید</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>