<div class="copy-area">
    <div class="container">
        <div class="col-lg-12">
            <div class="row">
                <div class="copy">
                    <p>
                        کپی رایت © 2021 تمامی حقوق معنوی این سایت مربوط به مدرسه غیر انتفاعی پایندگان می باشد
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>