<section class="course-slider-area">
    <div class="container">
        <div class="course-slider owl-carousel owl-theme">
            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="course-slider-img">
                        <img src="~/images/courses/slider-img.png" alt="course" />
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="course-slider-content">
                        <h2>برنامه فرهنگی 01 مهر 1399</h2>
                        <p>
                            یک رویداد با خانواده دانش آموزان در رابطه با محیط آموزشی
                        </p>

                        <div class="course-slider-btn">
                            <!--<a href="" class="box-btn">ثبت نام کنید</a>-->
                            <a href="" class="border-btn">مشاهده رویدادها</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-5 col-md-5">
                    <div class="course-slider-img">
                        <img src="~/images/courses/slider-img2.png" alt="course" />
                    </div>
                </div>
                <div class="col-lg-7 col-md-7">
                    <div class="course-slider-content">
                        <h2>برنامه فرهنگی 01 بهمن 1399</h2>
                        <p>
                            یک رویداد با خانواده دانش آموزان در رابطه با محیط آموزشی

                        </p>

                        <div class="course-slider-btn">
                            <!--<a href="" class="box-btn">ثبت نام کنید</a>-->
                            <a href="" class="border-btn">مشاهده رویدادها</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>