<div class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="footer-left">
                    <a href="index.html" class="logo"><img src="~/images/logo2.png" alt="logo" /></a>
                    <p>
                        یک مدرسه غیر انتفاعی مدرن با تجهیزات کامل
                    </p>
                    <ul class="footer-social">
                        <li>
                            <a href="#"><i class="flaticon-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-twitter"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-envelope"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-google-plus"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-content fml-25">
                    <h2>مدرسه</h2>
                    <ul>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> پشتیبانی</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> حرفه</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> مربیان</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> کارمندان</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> تماس با ما</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="footer-content fml-15">
                    <h2>لینکهای سریع</h2>
                    <ul>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> صفحه اصلی</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> کلاس ها</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> دوره ها</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> شرکت ما</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> سوالات متداول</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="footer-content fml-15 fml-20">
                    <h2>تماس بگیرید</h2>
                    <ul>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> تلفن: 0000000-034</a>
                        </li>
                        <li>
                            <a href="#"><i class="flaticon-left-arrow"></i> فکس: 0000000-034</a>
                        </li>
                        <li>
                            <a href="#">Payandgan@gmali.com <i class="flaticon-left-arrow"></i></a>
                        </li>
                        <li>
                            <a href="#">Payandgan.ir <i class="flaticon-left-arrow"></i></a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="flaticon-left-arrow"></i>ایران ، استان کرمان ،خیابان ابوذر شمالی
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>