<div class="navbar-area">
    <div class="mobile-nav">
        <a href="index.html" class="logo">
            <!-- <img src="~/images/logo1.png" alt="logo" />-->
        </a>
    </div>

    <div class="main-nav">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="index.html">
                    <img src="~/images/logo1.png" alt="logo" />
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    <ul class="navbar-nav text-right">
                        <li class="nav-item">
                            <a href="index.html" class="nav-link active">خانه</a>
                        </li>
                        <li class="nav-item">
                            <a href="about.html" class="nav-link">درباره ما</a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">کلاس ها</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="classes.html" class="nav-link">کلاس ها</a>
                                </li>
                                <li class="nav-item">
                                    <a href="special-class.html" class="nav-link">دوره های ویژه</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-class.html" class="nav-link">جزئیات دوره ها</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">رویدادها</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="events.html" class="nav-link">رویدادها</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-events.html" class="nav-link">جزئیات رویدادها</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">اخبار</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="news.html" class="nav-link">اخبار وبلاگ</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-news.html" class="nav-link">جزئیات اخبار</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">مربیان</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="teachers.html" class="nav-link">مربی ها</a>
                                </li>
                                <li class="nav-item">
                                    <a href="single-teacher.html" class="nav-link">جزئیات مربیان</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link dropdown-toggle">صفحات</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item">
                                    <a href="admission.html" class="nav-link">پذیرش</a>
                                </li>
                                <!--
                                   <li class="nav-item">
                                        <a href="pricing.html" class="nav-link">قیمت ها</a>
                                    </li>
                                -->
                                <li class="nav-item">
                                    <a href="gallery.html" class="nav-link">گالری</a>
                                </li>
                                <!-- <li class="nav-item">
                                    <a href="testimonials.html" class="nav-link">مشتریان</a>
                                </li>-->
                                <li class="nav-item">
                                    <a href="signup.html" class="nav-link">عضویت</a>
                                </li>
                                <li class="nav-item">
                                    <a href="signin.html" class="nav-link">ورود</a>
                                </li>
                                <!--
                                 <li class="nav-item">
                                     <a href="404.html" class="nav-link">خطای 404</a>
                                 </li>
                                -->
                                <li class="nav-item">
                                    <a href="faq.html" class="nav-link">سوالات متداول</a>
                                </li>
                                <li class="nav-item">
                                    <a href="terms&condition.html" class="nav-link">قوانین و ضوابط</a>
                                </li>
                                <li class="nav-item">
                                    <a href="privecy.html" class="nav-link">حریم خصوصی</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="contact.html" class="nav-link">تماس با ما </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>