<section class="home-ragular-course pb-100">
    <div class="container">
        <div class="section-tittle text-center">
            <h2>دوره های منظم ما</h2>
            <p>
                دوره کالج یک کلاس است که توسط یک کالج یا دانشگاه ارائه می شود. این دوره ها معمولاً بخشی از برنامه
                های پیشرو هستند.
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-ragular-course">
                    <div class="course-img">
                        <img src="~/images/courses/img1.png" alt="ragular" />
                        <h2>کلاس تقویتی زبان </h2>
                    </div>
                    <div class="course-content">
                        <p>
                            کلاس درس یک فضای یادگیری است ، اتاقی که هم دانش آموزان در آن یاد می
                            گیرند. بخش
                            هایی از آموزش است.
                        </p>
                        <a href="single-class.html" class="border-btn">ادامه خواندن</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-ragular-course">
                    <div class="course-img">
                        <img src="~/images/courses/img2.png" alt="ragular" />
                        <h2>کلاس ICDL</h2>
                    </div>
                    <div class="course-content">
                        <p>

                            کلاس درس یک فضای یادگیری است ، اتاقی که هم دانش آموزان در آن یاد می
                            گیرند. بخش
                            هایی از آموزش است.

                        </p>
                        <a href="single-class.html" class="border-btn">ادامه خواندن</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 sst-10">
                <div class="single-ragular-course">
                    <div class="course-img">
                        <img src="~/images/courses/img3.png" alt="ragular" />
                        <h2>کلاس تقویتی ریاضی</h2>
                    </div>
                    <div class="course-content">
                        <p>


                            کلاس درس یک فضای یادگیری است ، اتاقی که هم دانش آموزان در آن یاد می
                            گیرند. بخش
                            هایی از آموزش است.
                        </p>
                        <a href="single-class.html" class="border-btn">ادامه خواندن</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
