<section class="service-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="flaticon-clock"></i>
                    </div>
                    <div class="service-content">
                        <h2>ساعت کاری</h2>
                        <p>شنبه - چهارشنبه : 7:00صبح - 14:00ظهر</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="single-service text-center">
                    <div class="service-icon">
                        <i class="flaticon-pin"></i>
                    </div>
                    <div class="service-content">
                        <h2>آدرس</h2>
                        <p> ایران ، استان کرمان ، ابوذر شمالی </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-12">
                <div class="single-service text-center sst-10">
                    <div class="service-icon">
                        <i class="flaticon-telephone"></i>
                    </div>
                    <div class="service-content">
                        <h2>تلفن</h2>
                        <p>034-0000000</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>