<section class="slider-area">
    <div class="home-slider owl-carousel owl-theme">
        <div class="single-slider single-slider-bg-1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-center">
                                <div class="slider-tittle one">
                                    <h1>
                                        ما بر رشد فرزندان <span>شما متمرکز می شویم</span>
                                    </h1>
                                    <p>
                                        علاوه بر این مدارس اصلی ، دانش آموزان یک کشور خاص ممکن است در مدارس قبل و
                                        بعد از ابتدایی در دوره متوسطه و متوسطه نیز در آموزش ما شرکت کنند.
                                    </p>
                                </div>
                                <div class="slider-btn bnt1 text-center">
                                    <a href="admission.html" class="box-btn">پذیرش کن</a>
                                    <a href="special-class.html" class="border-btn">مشاهده دوره ها</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider single-slider-bg-2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 text-center">
                                <div class="slider-tittle two">
                                    <h1>
                                        ما بر رشد فرزندان <span>شما متمرکز می شویم</span>
                                    </h1>
                                    <p>
                                        علاوه بر این مدارس اصلی ، دانش آموزان یک کشور خاص ممکن است در مدارس قبل و
                                        بعد از ابتدایی در دوره متوسطه و متوسطه نیز در آموزش ما شرکت کنند.
                                    </p>
                                </div>
                                <div class="slider-btn bnt2">
                                    <a href="admission.html" class="box-btn">پذیرش</a>
                                    <a href="special-class.html" class="border-btn">مشاهده دوره ها</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>