<section class="home-special-course">
    <div class="container-fluid">
        <div class="section-tittle text-center">
            <h2>کلاسهای ویژه ما</h2>
            <p>
                دوره آموزشی هست. که توسط اساتید با تجربه ارائه می شود. این دوره ها معمولاً بخشی از برنامه
                های پیشرو هستند.
            </p>
        </div>

        <div class="home-course-slider owl-carousel owl-theme">
            <div class="single-home-special-course">
                <div class="course-img">
                    <img src="~/images/courses/img4.png" alt="course" />
                    <div class="course-content">
                        <h2>کلاس ICDL</h2>
                        <p>
                            دروس نوعی دستورالعمل رسمی برای یادگیری مبانی پایه کامپیوتر.
                        </p>
                        <a href="single-class.html" class="box-btn">ادامه خواندن</a>
                    </div>
                </div>
            </div>

            <div class="single-home-special-course">
                <div class="course-img">
                    <img src="~/images/courses/img5.png" alt="course" />
                    <div class="course-content">
                        <h2>آزمایشگاه علوم</h2>
                        <p>
                            دروس علوم نوعی دستورالعمل رسمی در نواختن ساز موسیقی یا آواز خواندن است.
                        </p>
                        <a href="single-class.html" class="box-btn">ادامه خواندن</a>

                    </div>
                </div>
            </div>

            <div class="single-home-special-course">
                <div class="course-img">
                    <img src="~/images/courses/img6.png" alt="course" />
                    <div class="course-content">
                        <h2>کلاس زبان</h2>
                        <p>
                            دروس زبان نوعی دستورالعمل رسمی در که برای ترجمه و مکالمه مناسب است.
                        </p>
                        <a href="single-class.html" class="box-btn">ادامه خواندن</a>

                    </div>
                </div>
            </div>

            <div class="single-home-special-course">
                <div class="course-img">
                    <img src="~/images/courses/img7.png" alt="course" />
                    <div class="course-content">
                        <h2>کلاس هنر</h2>
                        <p>
                            دروس علوم نوعی دستورالعمل رسمی در نواختن ساز موسیقی یا آواز خواندن است.
                        </p>
                        <a href="single-class.html" class="box-btn">ادامه خواندن</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>