<section class="home-teachers-area">
    <div class="container">
        <div class="section-tittle text-center">
            <h2>استادان محترم</h2>
            <p>
                استفاده از اساتید مجرب و با تجربه
            </p>
        </div>

        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-home-teacher">
                    <div class="teacher-img">
                        <a href="single-teacher.html">
                            <img src="~/images/teachers/img9.png" alt="teacher" />
                        </a>
                    </div>
                    <div class="teachers-content">
                        <h2>جان دو</h2>
                        <p>دستیار معلم</p>
                    </div>
                    <div class="teacher-social">
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-home-teacher">
                    <div class="teacher-img">
                        <a href="single-teacher.html">
                            <img src="~/images/teachers/img8.png" alt="teacher" />
                        </a>
                    </div>
                    <div class="teachers-content">
                        <h2>ایوانا دو</h2>
                        <p>مربی</p>
                    </div>
                    <div class="teacher-social">
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-home-teacher">
                    <div class="teacher-img">
                        <a href="single-teacher.html">
                            <img src="~/images/teachers/img3.png" alt="teacher" />
                        </a>
                    </div>
                    <div class="teachers-content">
                        <h2>اسمیت دو</h2>
                        <p>مربی زبان</p>
                    </div>
                    <div class="teacher-social">
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-home-teacher">
                    <div class="teacher-img">
                        <a href="single-teacher.html">
                            <img src="~/images/teachers/img12.png" alt="teacher" />
                        </a>

                    </div>
                    <div class="teachers-content">
                        <h2>مارینا دو</h2>
                        <p>مربی هنر</p>
                    </div>
                    <div class="teacher-social">
                        <ul>
                            <li>
                                <a href="#"><i class="flaticon-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="flaticon-envelope"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-long-arrow-alt-left"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--تبلیغ زیر استادان محترم-->
            @*@if (Model.AdvertiseUnderTeachersArea != null)
            {
                <div>
                    <a href="@Model.AdvertiseUnderTeachersArea.Link">
                        <img src="~/upload/advertise/@Model.AdvertiseUnderTeachersArea.gifPath" class="adverse-mainSlide-buttom" style="height:70px" />
                    </a>
                </div>

            }*@
            <!--تبلیغ زیر استادان محترم-->
        </div>

    </div>
</section>